@font-face {
  font-family: 'PFDinTextCondPro-Regular';
  src: url('PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular') format('svg'),
       url('PFDinTextCondPro-Regular.ttf') format('truetype'),
       url('PFDinTextCondPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfdintextcondpro-regular';
  src: url('pfdintextcondpro-regular.eot');
  src: url('pfdintextcondpro-regular.eot?#iefix') format('embedded-opentype'),
       url('pfdintextcondpro-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

