@font-face {
  font-family: 'PFDinTextCondPro-Light';
  src: url('PFDinTextCondPro-Light.svg#PFDinTextCondPro-Light') format('svg'),
       url('PFDinTextCondPro-Light.ttf') format('truetype'),
       url('PFDinTextCondPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfdintextcondpro-light';
  src: url('pfdintextcondpro-light.eot');
  src: url('pfdintextcondpro-light.eot?#iefix') format('embedded-opentype'),
       url('pfdintextcondpro-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

