@font-face {
  font-family: 'PFDinTextCondPro-Bold';
  src: url('PFDinTextCondPro-Bold.svg#PFDinTextCondPro-Bold') format('svg'),
       url('PFDinTextCondPro-Bold.ttf') format('truetype'),
       url('PFDinTextCondPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfdintextcondpro-bold';
  src: url('pfdintextcondpro-bold.eot');
  src: url('pfdintextcondpro-bold.eot?#iefix') format('embedded-opentype'),
       url('pfdintextcondpro-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

