.portfolio {
    padding: 9rem 0;
    background-color: #ffdd99;

    .btn {
        font-size: 18px;
        color: #393939;
        padding: 0.5rem 2rem;
        margin: 0 1rem 4rem 0;
        background-color: rgba(5, 5, 5, 0.14);

        &:hover,
        &:active,
        &:focus {
            background-color: #fff;
        }
    }

    p {
        font-family: 'titillium_webregular';
        text-transform: uppercase;
        color: #393939;
        margin-top: 2rem;
    }
}
