footer {
    padding: 2rem 0 2rem 0;
    background-color: #344b8e;
    text-align: center;
    ul{
       padding: 0; 
    }
    
    ul > li {
        font-family: 'titillium_websemibold';
        list-style-type: none;
        display: inline-block;
        margin-top: 5px;
        font-size: 24px;
        a {
            color: #f5f6f9;
            padding: 0 1rem;

            &:hover,
            &:active,
            &:focus {
                color: #30bae7;
                text-decoration: none;
                border-radius: 5px;
            }
        }
    }
}

@media (min-width:992px) {
    footer {
        ul > li {
            a {
                padding: 0 2rem;
            }
        }
    }
}
